/**************************** Gobales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}


/***************************** Header */

header {
    display: flex;
    height: 13rem;
    align-items: center;
    border-bottom: 2px solid #CCCCCC;
    padding: 0 9%;
}

.header__logo {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 10px;
}

.header__title {
    font-size: 2.4rem;
    font-weight: bold;
    padding-left: 2rem;
}


/***************************** Main */
.main {
    padding: 0 9%;
    margin: 0 auto;
    border-bottom: 2px solid #CCCCCC;
    padding-bottom: 4rem;
}

.main__title {
    font-size: 4rem;
    font-weight: bold;
    padding: 2.8rem 0;
}

.novedades {
    display: flex;
    justify-content: space-between;
}

/*Novedades */
.novedad__image {
    border-radius: 20px;
    width: 60rem;
    height: 31rem;
}

.novedad__date {
    font-size: 1.8rem;
    font-weight: 400;
    padding-top: 1.5rem;
}

.novedad__title {
    font-size: 2.4rem;
    padding-top: 1.5rem;
}

.novedad__authorLogo {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;
}

.novedad__logo {
    height: 6rem;
    border-radius: 100%;
}

.novedad__author {
    font-size: 2.4rem;
    font-weight: 500;
    padding-left: 2rem;
}

/* Aside */

.asidePosts {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.post {
    display: flex;
    margin-bottom: auto;
}

.post__image {
    width: 20rem;
    height: 14rem;
    border-radius: 20px;
    object-fit: cover;
}

.post__info {
    margin-left: 3rem;
}

.post__date {
    font-size: 1.5rem;  
}

.post__title {
    font-size: 2rem;
    font-weight: bold;
}

.post__logoAuthor {
    display: flex;
    align-items: center;
}

.post__logo {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.post__author {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: 500;
}

/***************** Populares y categorías  */

.populares-categorias{
    display: flex;
    padding: 5rem 9%;
}

/* populares */

.populares__title {
    margin-bottom: 2.5rem;
    font-size: 2.8rem;
    font-weight: 700;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 0 2rem 5.5rem 0;
}

.card__image {
    width: 30rem;
    height: 20rem;
    border-radius: 20px;
    object-fit: cover;
}

.card__date {
    font-size: 1.6rem;  
}

.card__title {
    font-size: 2rem;
    font-weight: bold;
}

.card__authorLogo {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.card__logo {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.card__author {
    font-size: 1.5rem;
    margin-left: 1rem;
    font-weight: 500;
}

/* Categorías */

.categorias__title {
    margin-bottom: 2.5rem;
    font-size: 2.8rem;
    font-weight: 700;
}

.categorias__list {
    display: flex;
    flex-direction: column;
}

.categoria__tecnologia {
    width: 30rem;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    border-radius: 10px;
    padding-inline:  2rem;
    margin-bottom: 2rem;
}

.categoría__image {
    width: 8.5rem;
    height: 8.5rem;
}

.categoria__name {
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
}

.categoria__tecnologia--html {
    background-color:#E93E30;
}

.categoria__tecnologia--javascript {
    background-color:#F7E018 ;
}

.categoria__tecnologia--css {
    background-color:#299ED5 ;
}

.categoria__tecnologia--react {
    background-color:#292C33 ;
}

.categoria__tecnologia--vue {
    background-color:#67C770 ;
}

.categoria__tecnologia--bootstrap {
    background-color:#563D7C ;
}

.categoria__verMas {
    font-size: 2rem;
}


